__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
venv/
.env/
.envrc

# VS Code
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test and coverage
htmlcov/
.coverage
.tox/
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Misc
*.sqlite3
*.db

# Ignore local settings
settings_local.py
